version: 2.1

jobs:
  deploy:
    docker:
      - image: cimg/node:20
    steps:
      - checkout
      - run:
<<<<<<< HEAD
          name: Install Git
          command: |
            sudo apt-get update
            sudo apt-get install -y git
      - run:
          name: Deploy to GitHub Pages
          command: |
            git config --global user.email "circleci@yourdomain.com"
            git config --global user.name "CircleCI Bot"

            # Create folder for gh-pages
            rm -rf out || true
            mkdir out
            cp -R * out

            cd out
            git init
            git add .
            git commit -m "Deploy from CircleCI"
            git branch -M gh-pages
            git remote add origin https://$GH_TOKEN@github.com/<your-username>/<your-repo>.git
            git push -f origin gh-pages

workflows:
  deploy-workflow:
=======
          name: Print Files
          command: |
            echo "Files inside your repository:"
            ls -al

workflows:
  run_pipeline:
>>>>>>> ab9147eb039acbcf81f227680bd2c597f1d341a9
    jobs:
      - deploy
