version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:20
    steps:
      - checkout
      - run:
          name: Print Files
          command: |
            echo "Files inside your repository:"
            ls -al

workflows:
  run_pipeline:
    jobs:
      - build
